/* Todas Fonts */
@font-face {
   font-family: "Gotham";
   src: url(../text-font/Gotham Book.otf);
   font-weight: 400;
}
@font-face {
   font-family: "Gotham";
   src: url(../text-font/Gotham Medium.otf);
   font-weight: 500;
}
@font-face {
   font-family: "Gotham";
   src: url(../text-font/Gotham Bold.otf);
   font-weight: 700;
}
@font-face {
   font-family: "Gotham";
   src: url(../text-font/Gotham Black.otf);
   font-weight: 900;
}

/* Edição Geral */
html,
body {
   margin: 0;
   padding: 0;
   border: 0;
   overflow-x: hidden;
}

.imageHomeMobile {
   background-image: url('../imgs/background/background-home.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span {
   font-family: Gotham, Sans-Serif;
   font-weight: 500;
   color: #fff;
   padding: 0;
   margin: 0;
}
a:hover {
   color: #FFF;
   text-decoration: none;
}
a.btnGreenHome {
   padding: 13px 64.5px;
   background-color: #319B42;
   color: #FFF;
   font-size: 17px;
   border-radius: 12px;
   margin-top: 20px;
   position: absolute;
   font-weight: 700;
}
a.btnGreenHome:hover {
   background-color: #36CB4E;
}
a.btnGreenHome:active {
   background-color: #2C6A36;
}
.imgProduct {
   width: 100%;
   border-radius: 10px;
}
.navContato {
   position: absolute;
   right: 0;
   left: 0;
   z-index: 1030;
   bottom: 20%;
}
@media(min-width: 1280px){
   .imageHomeMobile {
      background-image: none;
   }
   .contentHome {
      left: 10vh;
   }
   .titleHome {
      font-weight: 700;
      font-size: 56px;
      color: rgba(0, 0, 0, .87);
   }
   .contentHome p {
      font-size: 17px;
      font-weight: 500;
      color: rgba(0, 0, 0, .56);
   }
   .imgDesktop {
      background-image: url('../imgs/background/background-home.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 100vh;
      border-radius: 0 0 270px 0;
   }
}
/* Alternate BootStrap Style */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto, .container {
   padding-right: 20px;
   padding-left: 20px;
}
.row {
   margin-right: -20px;
   margin-left: -20px;
}

/* Navbar General */
li.nav-item img {
   margin: 17.5px 16px 22.5px 16px;
}
li.nav-item p.navbarCopy {
   font-size: 13px;
   color: #C1C1C1;
}
/* Navbar  White Items*/
nav.navbar.white {
   padding: 16px  24px;
   background-color: rgba(29, 35, 30, .36);
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
}
.navbar-brand{
   padding: 0;
   margin: 0;
}
.navbarItem {
   padding: 0 12px;
   border: 0;
}
img.imgSvgLogo {
   width: 24px;
}
img.imgSvg {
   width: 21px;
}
ul.listaNav {
   list-style: none;
   padding: 0;
   border: 0;
   margin: 0;
}
li.itemNav {
   float: left;
   padding: 0;
   margin: 0;
}
@media(max-width: 768px){

}
@media(min-width: 1024px){
   nav.navbar.white {
      background-color: #FFF;
   }
   li.nav-item img {
      padding-top: 22px;
      margin: 0 20px;
      width: 20px;
   }
}
/* DropDown Navbar White Items*/
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color: #319B42;
}
@media(max-width: 768px){
   .navbar-light .navbar-nav .nav-link.white{
      font-size: 17px;
      color: #FFF;
      padding-top: 33.5px;
   }
   ul.navbar-nav {
      height: 100vh;
   }
   img.logoMobilehome {
      display: block;
   }
   img.logoMobile {
      display: block;
      width: 125px;
   }
   img.logoDesktopHome {
      display: none;
   }
   img.logoDesktop {
      display: none;
   }
}
@media(min-width: 1024px){
   a.nav-link {
      color: rgba(0, 0, 0, .87);
   }
   li.navContato {
      position: relative;
      right: auto;
      left: auto;
      z-index: 0;
      bottom: 0;
   }
   .navbar-light .navbar-nav .nav-link.white {
      padding-right: 42px;
      font-size: 14px;
      padding-top: 22px;
   }
   img.logoMobileHome {
      display: none;
   }
   img.logoMobile {
      display: block;
      width: 125px;
   }
   img.logoDesktopHome {
      display: block;
      width: 125px;
   }
   p.navbarCopy {
      display: none;
   }
   img.logoMobile {
      display: none;
   }
}

/* Navbar Green Items */
nav.navbar.green {
   padding: 16px  24px;
   background-color: #FFF;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 1030;
}
.navbar-light .navbar-nav .nav-link.green{
   font-size: 17px;
   color: #000;
   padding-top: 33.5px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color: #319B42;
}

/* Content Home */
section#home {
   height: 100vh;
}
h2.titleHome {
   font-size: 32px;
   font-weight: 700;
}
div.contentHome {
   position: relative;
   top: 25vh;
}
.contentHome p {
   font-size: 17px;
   font-weight: 400;
}

/* Informations */
section#information {
   margin-bottom: 95px;
}
.nav-tabs {
   border-bottom: none;
   text-align: center;
   margin-top: 22px;
}
.nav-tabs a {
   font-size: 17px;
}
#information li {
   width: 33.33%;
}
.nav-tabs li a {
   color: rgba(0, 0, 0, .30);
   padding-bottom: 10px;
   line-height: 35px;
}
.nav-tabs li a.active {
   color: rgba(0, 0, 0, 1);
   border-bottom: 3px solid #319B42;
}
.nav-tabs li a.active:hover {
   text-decoration: none;
}
.tab-content p {
   font-size: 14px;
   color: rgba(0, 0, 0, .56);
   font-weight: 400;
}
.tab-pane {
   top: 26px;
   position: relative;
}
.imgHome {
   width: 245px;
   height: 245px;
   position: relative;
   top: 16px;
   margin-bottom: 64px;
   border-radius: 10px;
}
#valores .imgHome {
   margin-bottom: 0;
}
.seedsVisao {
   width: 245px;
   height: auto;
   position: absolute;
   right: -4px;
   bottom: -18px;
   z-index: 9;
}
.seedsMissao {
   width: 245px;
   height: auto;
   position: absolute;
   left: -15px;
   bottom: 0;
   top: 170px;
   z-index: -9;
}
.seedsValores {
   width: 300px;
   height: auto;
   position: absolute;
   right: -14px;
   bottom: 0;
   top: 180px;
   z-index: 9;
}
@media(max-width: 768px){
   .infomationDesktop {
      display: none;
   }
}
@media(min-width: 1024px){
   #home .row {
      max-width: 100%;
   }
   .informationMobile {
      display: none;
   }
   .infomationDesktop .row {
      margin-bottom: 72px;
   }
   .textHomeDesk {
      margin: auto;
   }
   .imgHome {
      width: 444px;
      height: auto;
   }
   .seedsVisao {
      width: 411px;
      height: auto;
   }
   .seedsMissao {
      width: 411px;
      height: auto;
      left: -100px;
      top: 160px;
   }
   .seedsValores{
      width: 592px;
      height: auto;
      right: -50px;
      top: 120px;
   }
}
/* Pag Products */
section#products {
   padding-top: 69px;
}
h2.titleContent {
   font-size: 28px;
   font-weight: 700;
   color: rgba(0, 0, 0, .87);
}
.btnFilter {
   color: #FFF;
   padding: 6px 30px;
   background-color: rgba(0, 0, 0, .30);
   border-radius: 10px;
   position: relative;
   top: 4.3px;
}
.productsList {
   list-style: none;
   padding: 0;
}
.productsItem  {
   padding-top: 24px;
   text-align: center;
}
.productsItem a {
   cursor: pointer;
}
.btnGreen {
   color: #FFF;
   padding: 13px 55px;
   background-color: #319B42;
   border-radius: 10px;
   position: relative;
   bottom: 14px;
}
button.btnGreen {
   border: none;
   text-decoration: none;
}
/* Product */
section#product {
   padding-top: 69px;
}
.owl-item {
   width: auto !important;
   margin-right: 27px;
}
.owl-carousel a.active {
   border-bottom: 2px solid #319B42;
   padding-bottom: 3px;
}
.owl-carousel div {
   width: auto;
}
.owl-dots {
   display: none;
}
.owl-item .active {
   max-width: 100%;
   width: 100%;
}
.itemCarousel {
   color: rgba(0, 0, 0, .56);
}
#product table.table {
   margin-top: 33px;
}
.imgProductItem {
   margin-top: 24px;
   border-radius: 10px;
}
#product thead th {
   padding: 0;
   border: none;
   width: 50%;
}
.titleProduct {
   font-size: 22px;
   color: #319B42;
   margin-bottom: 3.5px;
}
.tableProduct {
   list-style: none;
}
#product tbody th {
   font-size: 14px;
   color: rgba(0, 0, 0, .87);
   font-weight: 500;
   padding: 19px 0;
   border-top: none;
   border-bottom: 0.5px solid #C1C1C1;
}
#product tbody td {
   font-size: 14px;
   color: rgba(0, 0, 0, .56);
   font-weight: 400;
   padding: 19px 0;
   border-top: none;
   border-bottom: 0.5px solid #C1C1C1;
}
.arrowIcon {
   width: 12px;
}
.btnReturn {
   font-size: 17px;
   color: #319B42;
}
div.product {
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}
/* Partner */
section#partner {
   padding-top: 69px;
   margin-bottom: 36px;
}
.txtLabelForm {
   color: #319B42;
   font-size: 14px;
   font-weight: 500;
}
.btnFisica {
   width: 50%;
   float: left;
   border-radius: 10px 0 0 10px;
   color: #fff;
   background-color: #319B42;
   border: 1px solid #319B42;
   border-right: 0;
   height: 44px;
}
.btnJuridica {
   width: 50%;
   float: right;
   border-radius: 0 10px 10px 0;
   background-color: #FFF;
   color: #319B42;
   border: 1px solid #319B42;
   border-left: none;
   height: 44px;
}
.inputDefault {
   border: 1px solid #707070;
   border-radius: 10px;
   color: rgba(0, 0, 0, .87);
   font-size: 17px;
   padding: 6px 16px;
}
.inputDefault::placeholder,
.inputValid::placeholder,
.inputInvalid::placeholder {
   color: rgba(0, 0, 0, .30);
}
.inputValid {
   border: 1px solid #319B42;
   border-radius: 10px;
   color: rgba(0, 0, 0, .87);
   font-size: 17px;
   padding: 6px 16px;
}
.inputInvalid {
   border: 1px solid #D64545;
   border-radius: 10px;
   color: rgba(0, 0, 0, .87);
   font-size: 17px;
   padding: 6px 16px;
}
.btnSendForm {
   background-color: #319B42;
   height: 48px;
   width: 211px;
   border-radius: 10px;
   border: 1px solid #319B42;
   color: #FFF;
}

/* Footer */
h3.titleFooter {
   font-size: 22px;
   color: #319B42;
}
p.textFooter {
   color: rgba(0, 0, 0, .56);
   font-size: 14px;
}
ul.footerList {
   list-style: none;
   padding: 0;
   margin-top: 54px;
}
ul.footerList li:first-child {
   padding: 0 12px;
   float: left;
   padding: 0;
}
ul.footerList img {
   width: 21px;
}
ul.footerList li:first-child img {
   width: 124px;
}
ul.footerList li {
   padding: 0 12px;
   float: right;
}
a.developers {
   color: rgba(0, 0, 0, .87);
   font-weight: 700;
}
p.textFooter {
   color:rgba(0, 0, 0, .56);
   font-size: 14px;
   margin: 10px 0;
}
p.textFooterLine {
   color:rgba(0, 0, 0, .56);
   font-size: 14px;
   margin: 10px 0;
   border-top: 0.5px solid #C1C1C1;
   padding-top: 10.5px;
}

.botaoFixo {
   position: fixed;
}
@media(max-width: 768px){
   .footerMobile {
      display: block;
   }
   .footerDektop {
      display: none;
   }
}
@media(min-width: 1024px){
   .footerMobile {
      display: none;
   }
   .footerDektop {
      display: block;
   }
}
/* Media Map */


/* Testando transition checkbox */
a.navbar-toggler {
   width: 21px;
   height: 21px;
   position: relative;
}
 .navbar-toggler span {
   margin: 0;
   padding: 0;
}
.navbar-toggler span.barraTop {
   width: 21px;
   height: 2px;
   top: 6px;
   position: absolute;
   transition: all .3s linear;
}
.navbar-toggler span.barraMid {
   width: 21px;
   height: 2px;
   left: 12px;
   position: absolute;
   background-color: #FFF;
   transition: all .3s linear;
   top: 13px;
}
.navbar-toggler span.barraBot {
   width: 21px;
   height: 2px;
   bottom: 0px;
   position: absolute;
   background-color: #FFF;
   transition: all .3s linear;
}
.navbarHome span.barraTop,
.navbarHome span.barraMid,
.navbarHome span.barraBot {
   background-color: #FFF;
}
.navbarRestante span.barraTop,
.navbarRestante span.barraMid,
.navbarRestante span.barraBot,
.navbarProdutos span.barraTop,
.navbarProdutos span.barraMid,
.navbarProdutos span.barraBot {
   background-color: #319B42;
}

